.newpass {
  width: 400px;
}

.title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
  text-align: center;
  margin-bottom: 32px;
}

.input {
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.button {
  width: 100%;
  margin: 32px 0 0;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  transition: color var(--transition);
  cursor: pointer;

  &:hover {
    color: var(--yellow);
  }

  svg {
    margin-right: 11px;
  }
}

.res-message {
  color: var(--yellow);
}

@media (max-width: $mobile-big) {
  .newpass {
    width: 100%;
  }
}

@media (max-width: $mobile) {
  .newpass {
    .title {
      font-size: 20px;
      line-height: 28px;
    }

    .text {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
