$mobile_min: 360px;
$mobile-es: 375px;
$mobile-sm: 479px;
$mobile-lr: 599px;
$mobile: 639px;
$mobile-big: 767px;
$tablet-sm: 904px;
$tablet: 991px;
$desktop-sm: 1199px;
$desktop: 1239px;
$desktop-big: 1439px;
